/*Designed By Seungyoon Yu*/
@charset "utf-8";
@media only screen and (max-width:960px)
	{article {font-size:20px;}}


	@media only screen and (max-width:480px)
	{article {font-size:15px;}
	.projcate {font-size:10px;}}
/*Header*/

body {margin:0;
}
header {height:100px; margin-left:50px; margin-top: 50px;
}

/*Body*/
.proj {background-color:#EEEEEE; padding:10px 50px 10px 50px;
}

/*Footer*/
footer {height:300px; border:1px black; padding:10px 50px 10px 50px; float:left;
}
hr {height:1px; background-color:#CCCCCC; border:none;
}
ul li {display:inline;
}
.about {width: 250px; float:left; margin-right:20px; padding:50px 0px 0px 0px;
}
.contact {width: 250px; float:left; margin-left:20px; padding:50px 0px 0px 0px;
}