/*Designed By Seungyoon Yu*/
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:200,400,700,900&display=swap&subset=korean');
/*스크린 사이즈 컨트롤*/
	@media all and (max-width:960px)
	{
	header {height:30px;}
	footer {padding:10px;}
	section {font-size:20px;
			font-weight:400;
			word-break:keep-all;
			line-height:200%;}
	sup {font-size:10px;}
	article {padding:0px;}
	section a:hover {text-underline-offset:5px;
}
}

	@media all and (max-width:480px)
	{
	h1 {font-size:25px; font-weight:700;}
	header {height:30px; }
	footer {padding:10px;}
	section {font-size:20px;
			font-weight:400;
			word-break:keep-all;
			line-height:200%;}
	sup {font-size:10px;}
	article {padding:0px;}
	section a:hover {text-underline-offset:5px;
}
}
/*전체 레이아웃*/

body {margin:0;
}
header {height:150px;
		margin-left:50px;
		margin-top: 20px;
		margin-bottom: 20px;
}

.title2 {margin-top:25px;
		width: 100px;
		height: 100px;
		border-radius:50px;
		display:table-cell;
		vertical-align:text-bottom;
		background-size:90px;
		background:#FFFFFF;
		box-shadow:10px 10px 10px rgb(245,210,0) inset;
		text-align:right;
		font-size:12px; font-weight:400;
		float:left;
}
/*본문*/
article {background-color:#EEEEEE;
		padding:30px;
}
h3 {font-size:20px;}
/*Footer*/
footer {height:300px;
		padding:10px 30px 10px 30px;
		float:left;
}
hr {height:1px;
	background-color:#CCCCCC;
	border:none;
}
.about {width: 250px;
		float:left;
		margin-right:30px;
		padding:30px 0px 10px 0px;
}
.contact {width: 250px;
		float:left;
		padding:30px 0px 50px 0px;
}